@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  background-color: white;
  border-bottom: 0.5px solid #bebebe;
  z-index: 1;
  max-width: 100vw;
  width: 100%;
}

nav > img {
  width: 150px;
}

nav > ul {
  display: none;
}

.menu_icon {
  width: 30px;
  height: 30px;
}

header {
  position: relative;
  padding: 80px 20px 0 20px;
  height: 920px;
}

header > h1 {
  width: 80%;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Quicksand", sans-serif;
}

header > p {
  font-weight: lighter;
  line-height: 25px;
  margin-bottom: 30px;
}

.sigIn_input {
  border: 0.5px solid #bebebe;
  width: 100%;
  height: 50px;
  outline: none;
  padding-left: 10px;
  font-size: 1em;
  font-weight: lighter;
  border-radius: 4px;
}

.sigIn_btn {
  width: 100%;
  height: 50px;
  background-color: #192592;
  color: white;
  margin: 20px auto;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.signIn_link {
  width: 100%;
  text-align: center;
  line-height: 20px;
  font-weight: lighter;
}

.signIn_link > a {
  text-decoration: none;
  color: #192592;
  line-height: 20px;
  border-bottom: 0.5px solid #192592;
  cursor: pointer;
  font-weight: lighter;
}

header > img {
  position: absolute;
  bottom: 5%;
  width: 90%;
}

main {
  background-color: #f4f3f4;
  text-align: center;
}

.partners {
  width: 100%;
  padding: 50px 20px;
}

.partners > div {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 50px;
}

.partners > h1 {
  width: 90%;
  font-family: "Quicksand", sans-serif;
}

.partners > p {
  width: 90%;
  margin: 10px auto;
}

.partners > button {
  width: 100%;
  height: 50px;
  background-color: white;
  color: #1d309a;
  margin: 20px auto 80px auto;
  font-weight: bold;
  border-radius: 4px;
  border: 0.5px solid #1d309a;
  cursor: pointer;
}

.partners > div > img {
  width: 50%;
  margin: 0 auto;
  /* border-bottom: 0.5px solid #bebebe;
  border-top: 0.5px solid #bebebe; */
  /* padding: 10%; */
}

.partners > div > img:last-child {
  border-bottom: none;
}
/* 
airbnb_logo
  capitalOne_logo
  harvard_logo
  losAngelesTimes_logo
  oracle_logo
  ticketMaster_logo  */

.try {
  width: 100%;
  padding: 50px 20px;
  background-color: white;
}

.try > p:first-child {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 5px;
}

.try > .sigIn_input {
  margin-top: 20px;
}

footer {
  width: 100%;
  border-top: 0.5px solid #bebebe;
}

footer > img {
  width: 150px;
  margin-left: -20px;
}

.general_information {
  margin-top: -30px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 20px;
}

ul {
  list-style: none;
}

li {
  margin-top: 20px;
  color: #5b5e6d;
  font-family: "Quicksand", sans-serif;
}

li:first-child {
  font-weight: bold;
}

.legal_informations {
  background-color: #f4f3f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto 0 auto;
  padding: 20px;
}

.legal_informations > ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  font-weight: bold;
}

.legal_informations > div {
  width: 60%;
  text-align: center;
}

.legal_informations > div > i {
  color: #5b5e6d;
  margin: 20px 10px;
}

.legal_informations > div > div {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  font-weight: bold;
  align-items: top;
}

.legal_informations > div > div > img {
  width: 25px;
}

.legal_informations > div > div > span {
  line-height: 25px;
  color: #5b5e6d;
  font-family: "Quicksand", sans-serif;
}

.legal_informations > div > div > i {
  color: #5b5e6d;
  height: 25px;
}
